body {
  font-size: 15px;
  text-transform: uppercase;
  color: #444;
}

img { width: 100%; }
a { color: inherit; }
a:hover { color: #f0ad4e; text-decoration: none }
.padding { padding: 0.5em; }

.splash-image {
  min-height: 300px;
}

.splash-image h1 {
  margin-top: 3em;
  font-size: 8vh;
}

.navbar {
  border: none;
  background-image: none;
  text-transform: uppercase;
}

.navbar-form {
  margin-right: -15px;
}

main {
  padding: 2em 0;
}

.image-container {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 0.5em;
  border: 2px solid #ddd;
  margin-bottom: 2em;
  color: #444;
}

.image-container .name {
  font-size: 1.3em;
}

.image-container .authors {
}
.image-container .date {
}

