*, *:before, *:after { box-sizing:  border-box !important;}

body {
  font-size: 15px;
  text-transform: uppercase;
  color: #444;
}

img { width: 100%; }
a { color: inherit; }
a:hover { color: #f0ad4e; text-decoration: none }
.padding { padding: 0.5em; }

.splash-image {
  height: 300px;
}

.splash-image h1 {
  margin-top: 2em;
  font-size: 8vh;
}

.navbar {
  border: none;
  background-image: none;
  text-transform: uppercase;
}

#nav.affix {
  position: fixed;
  top: 0;
  z-index:10;
  width: 100%;
}
/*fix to jump after affix*/
.affix + #main {
  padding-top: 50px;
}

.navbar-form {
  margin-right: -15px;
}

#main {
  margin: 4em 0;
}

.image-container {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 0.5em;
  border: 2px solid #ddd;
  margin-bottom: 2em;
  color: #444;
}

.image-container .name {
  font-size: 1.3em;
}

.image-container .authors {}
.image-container .date {}


/*show image*/

.large-image-container {
  padding: 15px;
}
.large-image-container img {
  /*height: 700px;*/
}

.thumbs {
  padding: 15px;
}

.thumb.vert {
  width: 117px;
  height: 175.5px;
}
.thumb.vert img {
  max-width: 117px;
  max-height: 175.5px;
}
.hori {}