<div class="container">

  <div class="row">

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="image-container">
        <a href="/artworks/69">
          <div class="padding">
            <div class="name">Snatch Penis</div>
          </div>
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
        <div class="padding">
          <div class="authors">
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
          <div class="date">10/12/2015</div>
        </div>
      </div>
    </div>

  </div>
</div>