<div class="container">

  <div class="row">

    <div class="col-md-9">

      <div class="large-image-container">
        <a href="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" data-lightbox="indvthumbs" data-title="">
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/v1429579151/yg1_sqsshh.jpg" alt="">
        </a>
      </div>

      <div class="thumbs">

        <div class="container">

          <a href="http://res.cloudinary.com/mattp/image/upload/w_500,h_800/yg5_myr5ws.jpg" data-lightbox="indvthumbs" data-title="">
            <div class="thumb vert">
              <img src="http://res.cloudinary.com/mattp/image/upload/w_500,h_800/yg5_myr5ws.jpg" alt="">
            </div>
          </a>

          <a href="http://res.cloudinary.com/mattp/image/upload/w_500,h_800/yg4_qa42vt.jpg" data-lightbox="indvthumbs" data-title="">
            <div class="thumb vert">
              <img src="http://res.cloudinary.com/mattp/image/upload/w_500,h_800/yg4_qa42vt.jpg" alt="">
            </div>
          </a>

          <a href="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" data-lightbox="indvthumbs" data-title="">
            <div class="thumb hori">
              <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
            </div>
          </a>

          <a href="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg3_zcw878.jpg" data-lightbox="indvthumbs" data-title="">
            <div class="thumb hori">
              <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg3_zcw878.jpg" alt="">
            </div>
          </a>

        </div>
      </div>

    </div>

    <div class="col-md-3">
      <div class="indv-meta">
        <div class="name">Snatch Penis</div>
        <hr style="margin-bottom: 15px;">
        <div class="date">created on <b>10/12/13</b></div>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugiat, debitis aspernatur. Voluptas accusantium ad cum ratione molestiae illo perspiciatis.
        </div>
        <div class="authors">
          <p>Authors</p>
          <div>
            <span class="label label-warning">Bearclaw</span>
            <span class="label label-warning">Mark Wahlburg</span>
          </div>
        </div>
        <div class="recommended">
          <p>Also try</p>
          <div class="row">
            <div class="col-md-6">
              <a href="#">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="inquire"></div>
      </div>
    </div>
  </div>

</div>