*, *:before, *:after { box-sizing:  border-box !important;}

.hori-line { border-bottom: 1px solid #ccc; width: 100%; }
.padding { padding: 0.5em; }

body { font-size: 15px; color: #444; }
img { width: 100%; border-radius: 0.333em }
a { color: inherit; }
a:hover { color: #f0ad4e; text-decoration: none }
p { margin: 0; padding: 0; }

.alert { text-align: center; }
.alert-success {
  position: relative;
  top: -15px;
}
.alert-danger {
  position: relative;
  top: -15px;
}

.splash-image {
  height: 300px;
}

.splash-image h1 {
  margin-top: 2em;
  font-size: 8vh;
}

.navbar {
  border: none;
  background-image: none;
}

#nav.affix {
  position: fixed;
  top: 0;
  z-index:10;
  width: 100%;
}
/*fix to jump after affix*/
.affix + #main {
  padding-top: 50px;
}

.navbar-form {
  margin-right: -15px;
}

.selectpicker-container {
  margin-top: 8px;
}


/*
===== #main
 */

#main {
  margin: 4em 0;
}

.image-container {
  background-color: #f4f4f4;
  border-radius: 0.5em;
  /*border: 2px solid #ddd;*/
  margin-bottom: 2em;
  color: #444;
}

.image-container .name {
  font-size: 1.3em;
}

.image-container .authors {}
.image-container .date {}


/*show image*/

.large-image-container a {
  width: 565px;
}
.large-image-container img {
  /*height: 700px;*/
}

.thumbs {
  margin-left: -15px;
  margin-top: 15px;
}

.thumbs a {
  float: left;
  padding: 0 10px;
  margin-bottom: 20px;
}

.thumbs a:nth-child(1) {
  padding-left: 0;
}

.vert {
  width: 87.75px;
  height: 131.625px;
  margin-bottom: 0.5em;
}
.vert img {
  max-width: 87.75px;
  max-height: 131.625px;
}

.hori {
  width: 124px;
  height: 75.2px;
  margin-bottom: 0.5em;
}
.hori img {
  max-width: 124px;
  max-height: 75.2px;
}
.hori {}


.indv-meta {
  padding-left: 2em;
}

.indv-meta > .name {
  font-size: 2.25em;
  font-weight: 600;

}
.indv-meta .date {
  margin-bottom: 1em;
  font-style: italic;
}
.indv-meta .desc {
  margin-bottom: 1em;
}
.indv-meta .authors .label {
  font-size: 1em;
}
.indv-meta .authors p,
.indv-meta .recommended p {
  font-size: 1.2em;
  margin-top: 2em;

}

.indv-meta .recommended {}

.indv-meta .inquire {}